h1 {
  color: #166166; }

.waves-effect waves-light btn-large {
  border: 3px solid dodgerblue;
  background: lightgreen;
  margin: 10px; }

p {
  color: #166166; }

div a:hover {
  background: #16a085; }

.panel, .little-panel, .big-panel {
  border: 3px solid dodgerblue;
  background: lightgreen;
  margin: 10px; }

.little-panel {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px; }

.big-panel {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-size: 32px;
  padding: 20px; }
